$logo-orange-1: #ea9b58;

.intro-container {
  max-width: 80rem;
  margin: 0 auto;
  margin-bottom: 4.8rem;

  font-weight: 300;
  line-height: 1.25;
}

.values-row {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.6rem;
}

.value-heading {
  margin-bottom: 0.8rem;
}

.value-text {
  line-height: 1.25;
}

// MEDIA QUERIES

// FOR SMALLER PORTRAIT TABLETS (MAX WIDTH OF 768px = 48em)
@media (max-width: 48em) {
  .values-row {
    gap: 3.2rem;
  }
}

// FOR EVEN SMALLER PORTRAIT TABLETS (MAX WIDTH OF 704px = 44em)
@media (max-width: 44em) {
  .values-row {
    grid-template-columns: 1fr;
  }
}
