.contact-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../images/contact-section-bg.jpg);
  color: #fff;
  background-position: 50%;
  background-size: 100% auto;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  // padding: 12.8rem 1.2rem;
  padding: 12.8rem 4.8rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  list-style: none;
}

.column {
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-heading {
  margin-bottom: 4.8rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.4rem;
}

.contact-copy {
  font-weight: 300;
  line-height: 1.15;
  margin-bottom: 0.4rem;
  text-align: center;
}

// MEDIA QUERIES

// FOR PORTRAIT TABLETS (MAX WIDTH OF 880px = 55em)
@media (max-width: 55em) {
  .contact-section {
    background-size: cover;
  }

  .container {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
    padding: 9.6rem 4.8rem;
  }
}

// FOR SMALLER PORTRAIT TABLETS (MAX WIDTH OF 768px = 48em)
@media (max-width: 48em) {
  .container {
    padding: 9.6rem 3.2rem;
  }
}
