$logo-orange-1: #ea9b58;

.container {
  margin-top: 8rem;
  padding-top: 12.8rem;
}

.dishes-showcase {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.dish-container {
  overflow: hidden;
  background-color: #000;
}

.dish-photo {
  opacity: 0.7;
  transform: scale(1.15);
  transition: transform 0.5s;
}

.dish-container:hover .dish-photo {
  opacity: 1;
  transform: scale(1);
}

// MEDIA QUERIES

// FOR LANDSCAPE TABLETS (MAX WIDTH OF 1088px = 68em
@media (max-width: 68em) {
}
