$logo-orange-1: #ea9b58;

.dishes-showcase {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.dish-container {
  overflow: hidden;
  background-color: #000;
}

.dish-photo {
  opacity: 0.7;
  transform: scale(1.15);
  transition: transform 0.5s;
}

.dish-container:hover .dish-photo {
  opacity: 1;
  transform: scale(1);
}

// MEDIA QUERIES

// FOR PORTRAIT TABLETS (MAX WIDTH OF 880px = 55em)
@media (max-width: 55em) {
  .dishes-showcase {
    grid-template-columns: repeat(3, 1fr);
  }
}
