// 01 Typography
//    10px / 12px / 14px / 16px / 20px / 24px
//    28px / 36px / 42px / 50px / 56px / 60px
//    h1 - 56px
//    h2 - 36px
//    h3 - 28px
//    h4 - 20px

// 02 Spacing
//    2px / 4px / 8px / 12px / 16px / 24px
//    32px / 48px / 56px / 64px / 80px
//    96px / 128px

// 03 Colors
$logo-orange-1: #ea9b58;
$logo-orange-2: #ffbb54;
$logo-green: #7bb41c;

$logo-green-shade-1: #3d570e;

$text-color: #424242;

// 04 Shadows
// 05 Border Radius

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // Setting default font-size to 10px
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  color: $text-color;
  line-height: 1;
}

.container-x {
  max-width: 120rem;
  margin: 0 auto;
  padding-right: 4.8rem;
  padding-left: 4.8rem;
}

.container-y {
  padding-top: 12.8rem;
  padding-bottom: 12.8rem;
}

.page-heading {
  font-size: 5.6rem;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 0.8rem;
}

.section-heading {
  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 4.8rem;
}

.section-subheading {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 3.2rem;
}

.content-heading {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

p {
  font-size: 2rem;
}

li {
  font-size: 2.4rem;
}

a {
  font-size: 1.6rem;
}

.heading-slash::after {
  content: "";
  background-color: $logo-orange-1;

  display: block;
  height: 0.2rem;
  width: 8rem;
  margin: 0 auto;
  margin-top: 3.2rem;
}

// MEDIA QUERIES

// FOR LANDSCAPE TABLETS (MAX WIDTH OF 1088px = 68em)
@media (max-width: 68em) {
  html {
    // reducing general font-size to 9px (default)
    font-size: 56.25%;
  }
}

// FOR PORTRAIT TABLETS (MAX WIDTH OF 880px = 55em)
@media (max-width: 55em) {
  .container-y {
    padding-top: 9.6rem;
    padding-bottom: 9.6rem;
  }
}

// FOR SMALLER PORTRAIT TABLETS (MAX WIDTH OF 768px = 48em)
@media (max-width: 48em) {
  .container-x {
    padding-right: 3.2rem;
    padding-left: 3.2rem;
  }
}

// FOR EVEN SMALLER PORTRAIT TABLETS (MAX WIDTH OF 704px = 44em)
@media (max-width: 44em) {
  html {
    font-size: 50%;
  }

  .container-y {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

// FOR PHONES (MAX WIDTH 576px = 36em)
@media (max-width: 36em) {
  .page-heading {
    font-size: 4.8rem;
  }

  .container-x {
    padding-right: 2.4rem;
    padding-left: 2.4rem;
  }

  .container-y {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
  }
}
