$logo-orange-1: #ea9b58;
$logo-green: #7bb41c;

.container {
  height: inherit;
  position: relative;
}

.hero-section {
  height: 100vh;
  color: #fff;

  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../images/hero-section-bg.jpg);

  background-size: cover;
  background-position: left;

  font-weight: 300;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  color: #fff;
}

.hero-text-container {
  width: 100%;
  // padding: 0 1.2rem;
  padding: 0 4.8rem;

  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: block;
}

.hero-text {
  width: 25%;
}

.heading-accent {
  color: $logo-green;
}

.hero-copy {
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.cta-btn:link,
.cta-btn:visited {
  font-size: 2rem;
  border: 1px solid #fff;
  display: inline-block;
  padding: 1.6rem 3.2rem;
}

.cta-btn:hover,
.cta-btn:active {
  background-color: $logo-orange-1;
  border: 1px solid $logo-orange-1;
}

// MEDIA QUERIES

// FOR LANDSCAPE TABLETS (MAX WIDTH OF 1088px = 68em)
@media (max-width: 68em) {
  .hero-section {
    background-position: 25%;
  }
}

// FOR PORTRAIT TABLETS (MAX WIDTH OF 880px = 55em)
@media (max-width: 55em) {
  .hero-section {
    background-position: 30%;
  }
}

// FOR SMALLER PORTRAIT TABLETS (MAX WIDTH OF 768px = 48em)
@media (max-width: 48em) {
  .hero-text-container {
    padding: 0 3.2rem;
  }

  .hero-text {
    width: 33%;
  }

  .hero-section {
    background-position: 40%;
  }
}

// FOR PHONES (MAX WIDTH 576px = 36em)
@media (max-width: 36em) {
  .hero-text-container {
    padding: 0 2.4rem;
  }

  .hero-text {
    width: 50%;
  }

  .hero-section {
    background-position: 45%;
  }
}

// FOR SMALLER PHONES (MAX WIDTH 336px = 21em)
// Just to cover screen sizes for iphone 5 and adjacent
@media (max-width: 21em) {
  .cta-btn:link,
  .cta-btn:visited {
    padding: 1.6rem 2.4rem;
  }
}
