$logo-orange-1: #ea9b58;
$logo-green-shade-1: #3d570e;

.container {
  max-width: 120rem;
  margin: 0 auto;
  // padding: 12.8rem 1.2rem 0;
  padding: 12.8rem 4.8rem;
}

.menu-heading {
  margin-bottom: 4.8rem;
}

.menu-heading::after {
  content: "";
  background-color: $logo-orange-1;

  display: block;
  height: 0.2rem;
  width: 8rem;
  margin: 0 auto;
  margin-top: 3.2rem;
}

.menu-body {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5.6rem;
}

.subsection-heading {
  margin-bottom: 3.2rem;
}

.options-grid {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.6rem;
  row-gap: 3.6rem;
}

.order-option {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.option-heading {
  margin-bottom: 0.8rem;
}

.option-description {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 1.6rem;
  line-height: 1.2;
}

.order-option:last-child {
  margin-bottom: 0;
}

.price-row {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
}

.price {
  font-size: 2rem;
  font-weight: 500;
  color: $logo-green-shade-1;
}

// MEDIA QUERIES

// FOR PORTRAIT TABLETS (MAX WIDTH OF 880px = 55em)
@media (max-width: 55em) {
  .options-grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4.8rem;
  }

  .container {
    padding: 9.6rem 4.8rem;
  }
}

// FOR SMALLER PORTRAIT TABLETS (MAX WIDTH OF 768px = 48em)
@media (max-width: 48em) {
  .container {
    padding: 9.6rem 3.2rem;
  }

  .options-grid {
    column-gap: 3.2rem;
  }
}

// FOR EVEN SMALLER PORTRAIT TABLETS (MAX WIDTH OF 704px = 44em)
@media (max-width: 44em) {
  .container {
    padding: 8rem 3.2rem;
  }
}

// FOR PHONES (MAX WIDTH 576px = 36em)
@media (max-width: 36em) {
  .options-grid {
    grid-template-columns: 1fr;
  }

  .container {
    padding: 6.4rem 2.4rem;
  }
}
