$logo-orange-1: #ea9b58;

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 0;
}

.logo-img-hero {
  max-width: 12.8rem;
}

.logo-img-sticky {
  display: none;
}

.main-nav {
  display: flex;
  list-style: none;
  gap: 4.8rem;
}

.nav-btn:link,
.nav-btn:visited {
  text-decoration: none;
  color: #fff;
  padding: 0.8rem 0;
  font-size: 2rem;
  text-transform: uppercase;
}

.nav-btn:hover,
.nav-btn:active {
  border-bottom: 2px solid $logo-orange-1;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  color: #424242;
  width: 100%;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.1);

  // padding: 0 2%;

  z-index: 1;
}

.scrolled .nav-btn:link,
.scrolled .nav-btn:visited {
  color: #424242;
}

.scrolled .logo-img-hero {
  display: none;
}

.scrolled .logo-img-sticky {
  display: block;
  max-width: 17.2rem;
}

.scrolled .nav-bar {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1.6rem 4.8rem;
}
